.task-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 27px;
    height: 44px;
    border-radius: 3px;
    padding: 0 40px;
    cursor: pointer;
    overflow-x: scroll;
}

.task-item:hover {
    background-color: var(--it-malia);
}

.task-item > .task-content {
    flex-basis: 97%;
    font-size: 18px;
}

.task-item.-completed {
    text-decoration: line-through;
    color: var(--text-secondary);
}