:root {
    --text-primary: #F2F3F3;
    --text-secondary: #7E8185;
    --underline-lol: #7e818515;
    --dont-know: #98C379;
    --gona-try: #E06C75;
    --gona-try-now: #e06c7515;
    --sun-nigth: #E5C07B;
    --moon-light: #282C35;
    --it-malia: #7e818515;
}